/*----------------------------*/
.projects{
    padding: 5%;
}

.section-Header-Project h2 {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 50px;
    border-bottom: 1px solid #e5ebf2;
}

.project-Container-space{
    display: flex;
    justify-content: space-between;
    padding-top:5% ;
    
}

.project-container{
    min-width: 25%;
    max-width: 30%;
    background: #d5f1f3;
    border: 2px solid #000000;
    border-radius: 15px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container h1{
    color: #43485c;
    text-align: center;
    border-bottom: 1px solid black;
    padding-top: 15px;
}

.project-container span{
    text-align: center;
    padding: 5%;
    padding-top: 15px;
}

.Button-flexing{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 5px;
}

.Button-flexing a{
    padding: 5px;
    border: 1px solid black;
    border-radius: 20px;
}

.Button-flexing a:hover{
    background: #f71a51;
    color: white;
    border: 1px solid #f71a51;
}
